body{
    height: 740px;
    background-color: grey;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
}
.calculator{
    height: 500px;
    width: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 2px solid cyan;
}
.calcScreen{
    height: 100px;
    width: 500px;
    border: 2px solid cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 158, 137);
    
}
.secondScreen{
    width:500px;
    height:40px;
    background-color: rgb(0, 158, 137);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calcPad{
    height: 320px;
    width: 500px;
    /*border: 2px solid blue;*/
    display: grid;
}
.calcPadButton{
    /*border: 2px solid red;*/
    background-color: teal;
    
}
.calcSpecialButtonDiv{
border: 2px solid cyan;
height: 80px;
width: 500px;
display: flex;
justify-content: center;
align-items: center;
}
.calcSpecialButtonDiv button{
    flex: auto;
    height: 80px;
    background-color:aquamarine ;
}
/*#operand{
    border: pink;
}
#equalsTo{
    border: plum;
}
#decimal{
    border: peachpuff;
}*/
.operandSelected{
    background-color: rgb(8, 141, 218);
}