body{
    height: 740px;
    background-color: grey;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
}
.calculator{
    height: 500px;
    width: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 2px solid pink;
}
.calcScreen{
    height: 70px;
    width: 200px;
    border: 2px solid yellow;
    
}
.calcPad{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    display: grid;
    
    
}
.calcPadButton{
    border: 2px solid red;
    
}
.calcSpecialButtonDiv{
border: 2px solid pink;
height: 30px;
width: 200px;
display: flex;
justify-content: center;
align-items: center;
}
